{% extends 'base.html' %}
{% block title %}
    MCS - Servers
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Server Binaries</h1>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <a href="#" class="btn btn-outline-info"><i class="bi bi-plus-square"></i> Add Binary</a>
        </div>
    </div>

    <div class="row">


        {% for binary in binaries %}
            <div class="col-sm-3">
                <div class="card">
                    {% if binary.type == 0 %}
                        <img src="{% static 'img/server/bungeecord.png' %}" class="card-img-top"
                             alt="{{ binary.type.get_type_display }}">
                    {% elif binary.type == 1 %}
                        <img src="{% static 'img/server/spigot.png' %}" class="card-img-top"
                             alt="{{ binary.type.get_type_display }}">
                    {% elif binary.type == 2 %}
                        <img src="{% static 'img/server/bukkit.png' %}" class="card-img-top"
                             alt="{{ binary.type.get_type_display }}">
                    {% elif binary.type == 3 %}
                        <img src="{% static 'img/server/papermc.png' %}" class="card-img-top"
                             alt="{{ binary.type.get_type_display }}">
                    {% elif binary.type == 4 %}
                        <img src="{% static 'img/server/vanilla.png' %}" class="card-img-top"
                             alt="{{ server.server_binary.get_type_display }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ binary.name }}</h5>
                        <p class="card-text">{{ binary.get_type_display }} Version: {{ binary.version }}</p>
                        <a href="#" class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i></a>
                        <a href="#" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>


{% endblock %}