{% extends 'base.html' %}
{% block title %}
    MCS - Servers
{% endblock title %}
{% block content %}

    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">Your Network</h1>
    </div>

    <div class="card p-4">

        <div class="row">
            <div class="col">
                <a href="{% url 'dashboard-start-server' %}" class="btn btn-pinterest">Start Server</a>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}